<div class="container">
    <div class="row mt-4">
        <div class="col-md-12">
            <h1 class="spot_header"> <%= @spot[:name] %> </h1>     
        </div>    
    </div>
    
    <hr class="my-4"> </hr>

    <div class="row mt-5">
        <div class="col-md-6 location_whereto">
            <h3 class="sub_head"> Location Specifics: </h3> 
                <%= @spot[:location] %>
            <h3 class="sub_head mt-2"> Where to Fish: </h3>
                <%= @spot[:where_to] %>
            <h3 class="sub_head mt-2"> Successful Tactics: </h3>
                <%= @spot[:successful_tactics] %>
        </div>
        <div class="col-md-6 new_entry">
            <h3 class="sub_head"> Catchin' Any? Add it to the Log! </h3>
            <a href="/spots/<%= @spot[:id]%>/entrys/new" class ="btn btn-dark">Submit New Entry</a>
        <hr class="my-4"> </hr>
            <h3 class="sub_head"> Last Caught Here: Details </h3>
	            <table class="table table-bordered">
	                <thead>
	                    <tr>
	                        <th scope="col">Name</th>
	                        <th scope="col">Date</th>
	                        <th scope="col">Species</th>
	                        <th scope="col">Weight (lbs)</th>
	                        <th scope="col">Lure</th>
	                        <th scope="col">Time Of Day</th>
                            <th scope="col">Water Temp</th>
	                    </tr>
	                </thead>
                    <tbody>
	                    <% for last_catch in @last_catch %>
                            <tr>                           
                                <td><%= last_catch[:users_name]%></td> 
                                <td><%= last_catch[:date]%></td>
                                <td><%= last_catch[:species]%></td>
                                <td><%= last_catch[:weight]%></td>
                                <td><%= last_catch[:lure_used]%></td>
                                <td><%= last_catch[:time]%></td>
                                <td><%= last_catch[:water_temp]%></td>    	                        
                            </tr>
                        <% end %>
	                </tbody>    
	            </table>  
        </div>    
    </div>
    <div class="row mt-5">
        <div class="col-md-12">
            <hr class="my-5"> </hr>
            <h3 class="sub_head_master"> Full Master List: <%= @spot[:name] %> </h3>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Date</th>
                            <th scope="col">Species</th>
                            <th scope="col">Weight (lbs)</th>
                            <th scope="col">Lure</th>
                            <th scope="col">Time&nbspOf&nbspDay</th>
                            <th scope="col">Water&nbspTemp</th>
                        </tr>
                    </thead>
                    <tbody>
                    <%for last_catch in @logs %>
                        <tr>                           
                            <td><%= last_catch[:users_name]%></td> 
                            <td><%= last_catch[:date]%></td>
                            <td><%= last_catch[:species]%></td>
                            <td><%= last_catch[:weight]%></td>
                            <td><%= last_catch[:lure_used]%></td>
                            <td><%= last_catch[:time]%></td>
                            <td><%= last_catch[:water_temp]%></td>                              
                        </tr>
                    <% end %>
                    </tbody>    
                </table>  
        </div>
    </div>
</div>