<!-- AIzaSyCtovsQvkIUWlNqtYwXY87gEd4ZSmJEhMw -->

<div class="container">
    <div class="row mt-4">
        <div class="col-md-12">
            <h1 class="spot_header"> <%= @spot[:name] %> </h1>     
        </div>    
    </div>
    
    <hr class="my-4"> </hr>

    <div class="row mt-5">
        <div class="col-md-6 location_whereto">
            <h3 class="sub_head"> Location Specifics: </h3> 
                <p><%= @spot[:location] %></p>
                <iframe
                    width="300"
                    height="250"
                    frameborder="0" style="border:0"
                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCtovsQvkIUWlNqtYwXY87gEd4ZSmJEhMw
                        &q=<%= @lat_long %>&zoom=16" allowfullscreen>
                </iframe>
            <h3 class="sub_head mt-2"> Where to Fish: </h3>
                <%= @spot[:where_to] %>
            <h3 class="sub_head mt-2"> Successful Tactics: </h3>
                <%= @spot[:successful_tactics] %>
        </div>
        <div class="col-md-6 new_entry">
            <h3 class="sub_head"> Catchin' Any? Add it to the Log! </h3>
            <a href="/spots/<%= @spot[:id]%>/entrys/new" class ="btn btn-dark">Submit New Entry</a>
        <hr class="my-4"> </hr>
            <h3 class="sub_head"> Biggest Bass </h3>
	            <table class="table table-bordered">
	                <thead>
	                    <tr>
	                        <th scope="col">Name</th>
	                        <th scope="col">Date</th>
	                        <th scope="col">Species</th>
	                        <th scope="col">Weight (lbs)</th>
	                        <th scope="col">Lure</th>
	                        <th scope="col">Time Of Day</th>
                            <th scope="col">Water Temp</th>
	                    </tr>
	                </thead>
                    <tbody>
	                    <% for last_catch in @last_catch %>
                            <tr>                           
                                <td><%= @users_table.where(id: last_catch[:user_id]).to_a[0][:name]%></td> 
                                <td><%= last_catch[:date]%></td>
                                <td><%= last_catch[:species]%></td>
                                <td><%= last_catch[:weight]%></td>
                                <td><%= last_catch[:lure_used]%></td>
                                <td><%= last_catch[:time]%></td>
                                <td><%= last_catch[:water_temp]%></td>    	                        
                            </tr>
                        <% end %>
	                </tbody>    
	            </table> 
            <hr class="my-4"> </hr>    
            <h3 class = "sub_head"> Scroll down to see full list of latest catches! </h3> 
        </div>    
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr class="my-4"> </hr>
            <h3 class="sub_head_master"> Full Master List: <%= @spot[:name] %> </h3>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Date</th>
                            <th scope="col">Species</th>
                            <th scope="col">Weight (lbs)</th>
                            <th scope="col">Lure</th>
                            <th scope="col">Time Of Day</th>
                            <th scope="col">Water Temp</th>
                        </tr>
                    </thead>
                    <tbody>
                    <%for catch_details in @logs %>
                        <tr>                           
                            <td><%= @users_table.where(id: catch_details[:user_id]).to_a[0][:name]%></td> 
                            <td><%= catch_details[:date]%></td>
                            <td><%= catch_details[:species]%></td>
                            <td><%= catch_details[:weight]%></td>
                            <td><%= catch_details[:lure_used]%></td>
                            <td><%= catch_details[:time]%></td>
                            <td><%= catch_details[:water_temp]%></td>                              
                        </tr>
                    <% end %>
                    </tbody>    
                </table>  
        </div>
    </div>
</div>